body {
  font-family: "Montserrat", "PT Sans", sans-serif;
  line-height: 18px;
  font-size: 18px;
}

main{
  overflow: hidden;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-title {
  font-size: 48px;
  line-height: 18px;
  color: #43a9ff;
  text-align: center;

  padding-top: 65px;
  margin: 0;
}

.header-subtitle {
  color: #4b5863;
  font-weight: bold;

  opacity: 0.15;
}
.container {
  width: 1500px;
  padding: 0 15px;

  margin: 0 auto;
}
.zero-section h1 {
  font-size: 48px;
  line-height: 40px;
}

.button {
  display: inline-block;

  font: inherit;
  font-size: 14px;
  font-weight: bold;
  color: #43a9ff;

  text-decoration: none;

  padding: 20px 40px;

  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 0px 65px 0px rgba(218, 229, 239, 1);
}

.button:hover,
.header-button:hover{
  box-shadow: 0px 0px 65px 0px rgb(180, 192, 202);
}
.button:active,
.header-button:active{
  box-shadow: 0px 0px 25px 0px rgb(180, 192, 202);
}
.caption {
  color: #4b5863;

  opacity: 0.25;
}

.first-section h2,
.second-section h3,
.third-section h3,
.fourth-section h2,
.fifth-section h2 {
  font-size: 48px;
}
.list-item-description {
  color: #4b5863;
  font-size: 14px;
  line-height: 24px;

  opacity: 0.35;
}

.second-section p,
.third-section p,
.fourth-section p {
  font-size: 16px;
  line-height: 36px;
  color: #4b5863;

  opacity: 0.35;
}

.third-section h3 {
  color: #43a9ff;
}
.fourth-section h2 {
  color: #fe3254;
}
.author-name {
  font-size: 16px;
  line-height: 18px;
}

.header {
  width: 1500px;
  margin: 0 auto;
  padding: 0 15px;
  margin-bottom: 210px;

  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
}

.header-button {
  margin-top: 57px;
  width: 60px;
  height: 60px;

  border: none;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 65px 0px rgba(218, 229, 239, 1);
}
.header-title {
  position: relative;
}
.header-title::before {
  content: "";

  position: absolute;
  top: -207px;
  left: 50%;
  margin-left: -207px;

  display: block;

  width: 414px;
  height: 414px;

  border-radius: 50%;
  box-shadow: 0px 0px 65px 0px rgba(218, 229, 239, 1);
}

.header-button {
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
}

.header-button.menu {
  background-image: url("../img/hamburger.png");
}
.header-button.search {
  background-image: url("../img/search.png");
}
.zero-section{
  background-image: url("../img/Horse.jpg");
  background-position-x: center; 
  background-position-y: 54px;
  background-repeat: no-repeat;
}
.zero-section div {
  text-align: center;

  min-height: 1130px;
  width: 1500px;
  margin: 0 auto;
}
.zero-section .caption {
  margin-bottom: 82px;
}
.first-section {
  text-align: center;
}
.list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
}

.list li {
  padding: 0 54px;
  width: 25%;
  
  box-sizing: border-box;
}
.first-section h2 {
  margin-top: 24px;
  margin-bottom: 171px;

  line-height: 40px;
}
.list-item-title {
  margin-bottom: 40px;

  position: relative;
}

.list-item-title::before {
  content: "";

  display: inline-block;

  position: absolute;
  top: -83px;
  left: 109px;
}

.church::before {
  background-image: url("../img/church.png");

  width: 50px;
  height: 47px;
}
.toys::before {
  background-image: url("../img/christmas_toys.png");

  width: 52px;
  height: 46px;
}
.bell::before {
  background-image: url("../img/bell.png");

  width: 45px;
  height: 47px;
}
.snowlake::before {
  background-image: url("../img/snowflake_small.png");

  width: 48px;
  height: 48px;
}

.second-section {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;

  max-width: 2000px;
  margin: 0 auto;
}

.second-section .winter{
  background-image: url(../img/winter.jpg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-color: #f7f8fb;
  background-size: cover;
  
  width: 50%;
}
.second-section .logs{
  background-image: url(../img/woods.jpg);
  background-repeat: no-repeat;
  background-position-x: left;
  background-color: #f7f8fb;
  background-size: cover;
  
  width: 50%;
}

.second-section .text-block,
.second-section img {
  width: 50%;
}
.first-section {
  margin-bottom: 120px;
}
.second-section .text-block {
  min-height: 554px;

  background-color: #f7f8fb;
}

.second-section .text-block-left{
  box-sizing: border-box;

  padding-left: 52px;
  padding-top: 161px;
  padding-bottom: 40px;
  width: 550px;
}

.second-section .text-block-right{
  box-sizing: border-box;

  width: 617px;
  padding-top: 154px;
  padding-left: 111px;
  padding-bottom: 40px;
}

.third-section {
  display: flex;
  flex-wrap: wrap;

  position: relative;

  padding-bottom: 44px;
}

.third-section::before{
  content: "";

  background-image: url(../img/Snowflake.png);

  width: 674px;
  height: 674px;

  position: absolute;
  top: -82px;
  left: -190px;
  
  z-index: -1;
}

.third-section::after{
  content: "";

  background-image: url(../img/Snowflake2.png);

  width: 648px;
  height: 788px;

  position: absolute;
  bottom: -189px;
  right: -212px;
  
  z-index: -1;
}


.third-section div {
  width: 50%;

  box-sizing: border-box;
}

.third-section img {
  display: block;

  margin: 0 auto;
}
.third-section .text-block-right {
  padding-top: 344px;
  padding-left: 15px;
  width: 534px;

  box-sizing: border-box;
}
.third-section .text-block-left {
  padding-top: 190px;
  padding-left: 200px;
}

.third-section .img {
  padding-bottom: 119px;
}
.third-section .img:first-of-type {
  padding-top: 168px;
}
.third-section h3{
  line-height: 52px;

  margin-bottom: 34px;
}
.fourth-section {
  background-image: url("../img/Photo.jpg");
  background-position-x: center;
  background-repeat: no-repeat;
  background-color: #f7f8fb;
  background-size: cover;

  max-width: 2000px;
  margin: 0 auto;
}

.fourth-section .text-block {
  padding-top: 166px;
  padding-left: 68px;
  margin-left: 755px;
  width: 612px;
}

.fourth-section h2{
  line-height: 56px;

  margin-bottom: 32px;
}

.fourth-section .text {
  margin-bottom: 68px;
}

.fourth-section .author-name {
  color: black;

  opacity: 1;

  margin: 0;

  font-size: 16px;
  line-height: 18px;
}
.fourth-section .author-grade {
  margin: 0;
  padding-bottom: 105px;
}

.fifth-section {
  background-image: url("../img/House.jpg");
  background-position-x: center;
  background-position-y: 291px;
  background-repeat: no-repeat;

  padding-top: 115px;
  min-width: 1500px;

  text-align: center;
}

.fifth-section .caption{
  margin-bottom: 13px;
}
.fifth-section h2 {
  margin-top: 0;
  margin-bottom: 85px;

  line-height: 60px;
}
.fifth-section .button {
  margin-bottom: 1162px;
}
